*{
    padding: 0;
    margin: 0 auto;
    scroll-behavior: auto;
}

/* nav bar/menu */
.navbar{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 0 5px 1px;
}

.nav-list li{
    display: inline;
    padding: 1em 1em;
}

.nav-item a{
    text-decoration: none;
    font-size: 1.2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}

.navitem:hover, .navitem:focus, .navitem:active{
    color: #999999;
}

header{
    position: sticky;
    top: 0;
}

/* logo or something */
.saki{
    font-family: Papyrus;
    color: white;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

@-webkit-keyframes sakihov{
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes sakihov {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.sakihov{
    vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.sakihov:hover, .sakihov:focus, .sakihov:active {
  -webkit-animation-name: sakihov;
  animation-name: sakihov;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.avatar{
    display: flex;
   animation: fadeInRight; 
    justify-content: flex-end;
    justify-items: end;
}

/*about*/
.container1{
    width: 100%;
    background-image: url ("/portfolioko/pexels-vincent-rivaud-2147491.jpg");
    height: 100vh;
}

/*skills*/
.container2{
    background-color:blueviolet;
    width: 100%;
height: 60vh;
}

.parent-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-skills{
    text-align: center;
}

/*contact*/
.container3{
    height: 50vh;
    background-image: url ("/portfolioko/05.jpg");
    color: wheat;
    text-align: center;
}
